body {
   
    font-family: sans-serif;
}
    header{
          background-color:rgb(255, 0, 242);
        padding:10px;
        border-radius: 30px;

           font-family: sans-serif;
           
 
